@use 'src/app/theme';

.main-button {
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  background-color: theme.$primaryColor;
  cursor: pointer;
  border-radius: 6px;

  -webkit-box-shadow: 0px -1px 13px -3px black;
  box-shadow: 0px 0px 8px -3px black;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  user-select: none;

}

.main-button:active {
  background-color: #8b74d0;
}
