<div class="main-navbar">
  <div class="start">
    <div class="menu-button">
      <app-button (click)="toggleSidebar()" class="sidebar-button">
        <i class="fa-solid fa-bars" *ngIf="!isSidebarVisible"></i>
        <i class="fa-solid fa-angle-left" *ngIf="isSidebarVisible"></i>
      </app-button>
    </div>
    <div class="title-dropdown">{{this.pageTitle}}</div>
  </div>
  <div class="end">
    <div class="create-quiz-button">
      <app-button><i class="fa-solid fa-plus"></i>Create</app-button>
    </div>
    <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
      <div class="login-button" (click)="auth.logout({returnTo: 'http://localhost:4200/'})">
        <app-button>Logout</app-button>
      </div>
    </ng-container>
    <ng-template #loggedOut>
      <div class="login-button" (click)="auth.loginWithRedirect({appState: { target: '/' }})">
        <app-button>Login</app-button>
      </div>
    </ng-template>

  </div>


</div>
