@use "src/app/theme";

.main-navbar {
  height: theme.$navBarHeight;
  display: flex;
  z-index: 1;
  position: sticky;
  align-items: center;
  color: theme.$primaryTextColor;
  background-color: white;
  -webkit-box-shadow: 0px 0px 8px -3px black;
  box-shadow: 0px 0px 8px -3px black;

  justify-content: space-between;

  .start {
    margin-left: 20px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .menu-button {
      min-width: 40px;
      min-height: 20px;
      text-align: center;
    }

    .title-dropdown {
    }
  }

  .end {
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    display: flex;

    .create-quiz-button {
      i {
        margin-right: 5px;
      }
    }

    .login-button {
      margin-left: 20px;
    }
  }
}
