@use "src/app/theme";


.grid-item {
  background-color: white;
  display: flex;
  border-radius: 16px;
  height: 200px;
  -webkit-box-shadow: 0px 0px 8px -3px black;
  box-shadow: 0px 0px 8px -3px black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;

  .title {
    color: theme.$primaryTextColor;
    font-weight: bold;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
  }

  .content {
    display: flex;
    gap: 20px;
    overflow: hidden;
    .description {
      color: theme.$secondaryTextColor;
      text-overflow: ellipsis;
      white-space: break-spaces;
      gap: 20px;
      overflow: auto;

    }
    img {
      height: 150px;
      max-width: 150px;
      object-fit: contain;
    }
  }
}
