<div class="grid-item">
  <div class="title">
    {{title}}
    <i class="fa-regular fa-star"></i>
  </div>
  <div class="content">
    <img src="{{imgUrl}}">
    <div class="description">
      {{description}}
    </div>
  </div>

</div>
