<div class="main-grid">
  <ng-container *ngFor="let item of content">
    <app-grid-item [title]="item.title" [description]="item.description" [imgUrl]="item.imgUrl"></app-grid-item>
  </ng-container>


</div>
