@use "src/app/theme";

.main-layout {
  height: 100vh;
  overflow: hidden;
  .content {
  }
}

.main-layout.expanded {
  margin-left: theme.$sideBarWidth;
  transition: 0.5s;
}

.main-layout.collapsed {
  margin-left: 0;
  transition: 0.5s;
}
