<ng-container *ngIf="auth.user$ | async as user; else loggedOut">
  <li>{{user.name}}</li>
  <li>{{user.email}}</li>
  <li><img src="{{user.picture}}" alt="user profile picture"/></li>
</ng-container>
<ng-template #loggedOut>
  You are not logged in.
</ng-template>
