<div class="main-user-banner">
  <div class="avatar">
    <img src="https://www.w3schools.com/howto/img_avatar.png">
  </div>
  <div class="user-name">
    <ng-container *ngIf="auth.user$ | async as user;" >
      {{user.name && user.name.split(" ")[0]}}<br>{{user.name && user.name.split(" ")[1]}}
    </ng-container>
  </div>
  <div class="grow"></div>
  <div class="arrow-down">
    <i class="fa-solid fa-chevron-down"></i>
  </div>
</div>
