@use 'src/app/theme';

.main-user-banner {
  display: flex;
  align-items: center;
  padding: 5px;


  .avatar {
    font-size: 2em;
    display: flex;
    align-items: center;

    img {
      border-radius: 50%;
      width: 30px;
    }
  }

  .user-name {

    white-space: nowrap;
    color: theme.$primaryTextColor;
    font-weight: bold;
    margin-left: 10px;
  }

  .grow {
    flex-grow: 1;
  }

  .arrow-down {
    color: theme.$secondaryTextColor;
  }
}
