@use 'src/app/theme';

.sidebar {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: theme.$secondaryColor;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  -webkit-box-shadow: inset -3px 0px 4px -3px #000000;
  box-shadow: inset -3px 0px 4px -3px #000000;
  flex-direction: column;

  .item {
    font-weight: bold;
    padding: 6px 60px 6px 16px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.3em;
    margin: 5px;
    border-radius: 8px;
    color: theme.$secondaryTextColor;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */

    .title {
      display: inline-block;
    }
  }

  .item.selected {
    //background-color: white;
    color: theme.$primaryTextColor;

    div {
      text-decoration: underline;
    }
  }

  .user-banner {
    margin-left: 10px;
    margin-right: 10px;

  }

  .separator {
    border-bottom: 1px solid theme.$secondaryTextColor;
    margin: 20px;
  }
}


.sidebar.collapsed {
  width: 0;
  transition: 0.5s;
}

.sidebar.expanded {
  width: theme.$sideBarWidth;
  transition: 0.5s;
}
