<div class="sidebar {{!isSidebarVisible ?'collapsed':'expanded'}}">

  <div class="user-banner">
    <app-user-banner></app-user-banner>
  </div>

  <div class="separator"></div>

  <div *ngFor="let item of items" class="item {{item.selected && 'selected'}}" (click)="onItemSelected(item)">
    <div class="title">
      {{item.title}}
    </div>
  </div>
</div>
